.main {
  /* background-color: rgba(255, 0, 0, 0.25); */
  border-radius: 1em;
  margin-bottom: 1em;
  padding: 1em;
}

.form {
  /* background-color: rgba(0, 255, 0, 0.25); */
}

.feelslike {
  /* background-color: rgba(0, 0, 255, 0.25); */
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}