.input {
	align-items: center;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.slider {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	margin: 1em 0;
	min-width: 200px;
  width: 60%;
}

.slider input[type=range] {
	background: transparent;
	width: 100%;
}

.actual {
	font-size: 2em;
	text-align: right;
}